!!!
%html
  %head
    %title= page_title
    = csrf_meta_tags
    = stylesheet_link_tag :font
    = stylesheet_link_tag :application, media: :all
    = stylesheet_link_tag ::Assets::General.call(:css, params)
    = stylesheet_link_tag ::Assets::Action.call(:css, params)
    = javascript_include_tag share_this_url
    = favicon_link_tag :favicon
  %body
    = cell(::Layout::Cell::Header::Light)
    .content
      = cell(Layout::Cell::Alerts)
      = yield
    #modal-container
    = cell(::Layout::Cell::Footer::Light)
  = javascript_include_tag :application
  = javascript_include_tag ::Assets::General.call(:js, params)
  = javascript_include_tag ::Assets::Action.call(:js, params)
