= form_for model, html: { multipart: true } do |f|
  = f.text_field :title, placeholder: t('activerecord.attributes.request.title'), class: 'custom-input'
  = f.text_area :description, autofocus: true, rows: 10, placeholder: t('activerecord.attributes.request.description'), class: 'custom-textarea'
  .nested-items
    = f.fields_for :required_items do |required_item|
      = render view: :required_item_fields, locals: { f: required_item }
    .text-center
      = link_to_add_association f, :required_items, class: 'add-link', force_non_association_create: true do
        %span.fa.fa-plus-square
  .file-field-container
    = f.file_field :photo, accept: 'image/png, image/jpeg', class: 'file-field', placeholder: t('views.actions.requests.change_photo')
  = f.submit t('views.actions.publish'), class: 'button', data: data_disable_with
