%h1.title= link_to_if list?, title, model
.info
  %p.author= link_to_if policy?(:show, user), user.full_name, user
  %p.date= l(created_at, format: '%d %B, %Y')
  %p.views
    = impressions_count
    %span.fa.fa-eye
  /TODO: Add request voting
  -#- if can? :vote, request
  -#  %div{ class: "votes votes-#{request.id}" }
  -#    = render partial: 'layouts/votes', locals: { source: request }
/TODO: Add request social sharing
-#- if request.status?(:actual) && !defined?(in_list)
-#  %a.share-button{onclick: 'Share.vkontakte()', style: 'background: #5f83aa;'}
-#    %span.fa.fa-vk &nbsp;Поділитись
-#  %a.share-button{onclick: 'Share.twitter()', style: 'background: #0c7abf;'}
-#    %span.fa.fa-twitter &nbsp;Tweet
= description_block
