.goals
  /TODO: Add request progress block
  -#- request.required_items.each do |required_item|
  -#  .progress-title
  -#    %p= "#{required_item.category.name}: "
  -#    %small= "#{required_item.current_count} ли #{required_item.goal_count}"
  -#  .progress{title: "#{required_item.progress}%"}
  -#    .progress-bar.active{data: {value: required_item.progress}, style: "background: ##{required_item.category.color}" }
  -#      .percents.hidden
  -#        %p{style: "color: #{required_item.font_color}"}= "#{required_item.progress}%"
  = help_link
