.container
  .request-show
    .photo
      = image_tag(photo.url)
    .actions.request-actions
      = link_to_allowed edit_request_path, action: :edit, title: t('views.actions.requests.edit') do
        %span.fa.fa-pencil
      = link_to_allowed request_confirmed_path, action: :confirm, method: :patch, title: t('views.actions.requests.confirm') do
        %span.fa.fa-check
      = link_to_allowed request_declined_path, action: :decline, method: :patch, title: t('views.actions.requests.decline') do
        %span.fa.fa-ban
      = link_to_allowed request_archived_path, action: :archive, method: :patch, title: t('views.actions.requests.archive') do
        %span.fa.fa-times

    = cell(::Request::Cell::Categories, model)
    = cell(::Request::Cell::Info, model)
    = cell(::Request::Cell::Progress, model)
    /TODO: Add request wall
    /TODO: Add request activity history
    .tabs
      %ul.nav.nav-tabs.nav-justified
        %li.active
          = link_to root_path do
            = t('views.titles.requests.wall')
            %span#wall-counter.text-right
              = "(10)"
      .tab-content
        .tab-pane.active
          %p.nothing-to-show= t('errors.messages.nothing_to_show')
