.container
  .request-show
    .photo
      = image_tag(photo.url)
    /TODO: Add admin request actions
    .actions.request-actions
      = action_link(:edit, :pencil)
      = action_link(:confirm, :check, method: :patch)
      = action_link(:decline, :ban, method: :patch)
      = action_link(:archive, :times, method: :patch)
    -#  - case request.status
    -#  - when 'actual'
    -#    - if can? :edit, request
    -#      = link_to edit_request_url(request), title: 'Редагувати' do
    -#        %span.fa.fa-pencil
    -#    - if can? :destroy, request
    -#      = link_to request, method: :delete, title: 'Заархівувати', data: { confirm: 'Ви дійсно хочете заархівувати запит?' } do
    -#        %span.fa.fa-times
    -#  - when 'unchecked'
    -#    - if can? :check, request
    -#      = link_to check_request_url(request), title: 'Схвалити', remote: true do
    -#        %span.fa.fa-check
    -#    - if can? :decline, request
    -#      = link_to decline_request_url(request), title: 'Відхилити' do
    -#        %span.fa.fa-ban

    = cell(::Request::Cell::Categories, model)
    = cell(::Request::Cell::Info, model)
    /TODO: Add request progress block
    -#= render partial: 'request_progress', locals: { request: @request, decision: @decision, user: @user }
    /TODO: Add request wall
    /TODO: Add request activity history
    .tabs
      %ul.nav.nav-tabs.nav-justified
        %li.active
          = link_to root_path do
            = t('views.titles.requests.wall')
            %span#wall-counter.text-right
              = "(10)"
      .tab-content
        .tab-pane.active
          %p.nothing-to-show= t('errors.messages.nothing_to_show')
