.container
  .request-show
    .photo
      = image_tag(photo.url)
    .actions.request-actions
      = action_link(edit_request_path, :edit, :pencil)
      = action_link(request_confirmed_path, :confirm, :check, method: :patch)
      = action_link(request_declined_path, :decline, :ban, method: :patch)
      = action_link(request_archived_path, :archive, :times, method: :patch, data: data_confirm('request.archive'))

    = cell(::Request::Cell::Categories, model)
    = cell(::Request::Cell::Info, model)
    /TODO: Add request progress block
    -#= render partial: 'request_progress', locals: { request: @request, decision: @decision, user: @user }
    /TODO: Add request wall
    /TODO: Add request activity history
    .tabs
      %ul.nav.nav-tabs.nav-justified
        %li.active
          = link_to root_path do
            = t('views.titles.requests.wall')
            %span#wall-counter.text-right
              = "(10)"
      .tab-content
        .tab-pane.active
          %p.nothing-to-show= t('errors.messages.nothing_to_show')
