.container
  .request-show
    .photo
      = image_tag(photo.url)
      .sharethis-inline-share-buttons{ data: { title: title, description: truncated_description, image: photo.url } }
    .actions.request-actions
      = link_to_allowed edit_request_path, action: :edit, title: t('views.actions.requests.edit') do
        %span.fa.fa-pencil
      = link_to_allowed request_confirmed_path, action: :confirm, method: :patch, title: t('views.actions.requests.confirm') do
        %span.fa.fa-check
      = link_to_allowed request_declined_path, action: :decline, method: :patch, title: t('views.actions.requests.decline') do
        %span.fa.fa-ban
      = link_to_allowed request_archived_path, action: :archive, method: :patch, title: t('views.actions.requests.archive') do
        %span.fa.fa-times

    .categories
      = cell(::Request::Cell::Category, collection: categories)
    = cell(::Request::Cell::Info, model)

    .goals
      = cell(::Request::Cell::RequiredItemProgress, collection: required_items)
      = help_link

    /TODO: Add request wall
    /TODO: Add request activity history
    .tabs
      %ul#tab-links-container.nav.nav-tabs.nav-justified
        = allowed_block :request_index, Message do
          %li.active
            = link_to request_messages_path(model), data: { tab: true } do
              = t('views.titles.requests.wall')
              %span#wall-counter.text-right= "(#{messages.size})"
        = allowed_block :request_index, Activity do
          %li
            = link_to 'Активність', request_activities_path(model), data: { tab: true }

        -#- if can? :activity, @request
        -#  %li
        -#    = link_to 'Активність', activity_request_url, remote: true
      .tab-content
        #tab-container.tab-pane.active
          %p.nothing-to-show= t('errors.messages.nothing_to_show')
