%footer.light-theme
  .custom-footer
    .top
      .container
        .pull-left
          = link_to t('views.app_name'), root_url, class: 'brand'
        %ul.pull-right.contact-information
          %li
            %ul.contacts
              %li
                = link_to root_path do
                  %i.fa.fa-twitter
              %li
                = link_to root_path do
                  %i.fa.fa-vk
              %li
                = link_to root_path do
                  %i.fa.fa-facebook
          %li kekus@alter.com
    .bottom
      .container
        = t('views.rights')
